@import "tailwindcss";

html,
body,
#app {
   height: 100vh;
   width: 100vw;
}

html.dark {
   color-scheme: dark;
}

body {
   overflow: hidden;
}

.link {
   @apply hover:underline text-indigo-500;
}

.dark .link {
   @apply text-indigo-400;
}

@layer base {
   ul,
   ol {
      list-style: revert;
   }
}
